# .gitignore
# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Database
database/*.db
database/*.db-wal
database/*.db-shm

# Keys and Secrets
*.key
.env

# Environments
venv/
.venv/Commands.txt
Commands.txt
Commands.txt
Commands.txt
